.video-table {
  height: 200px;
  width: 98%;

  bottom: 0;
  right: 5;
  position: fixed;

  background: #333333;
  margin-right: 2%;
  margin-left: 10px;
  display: flex;

  border-radius: 10px;

  overflow: auto;
}
