.video-table {
  height: 210px;
  width: 50%;

  bottom: 20px;
  position: fixed;

  background: #333333;
  margin-right: 2%;
  margin-left: 20px;
  padding-bottom: 100px;

  border-radius: 2px;

  overflow-y: scroll;
}

.center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
